<div ng-controller="notesController as notes">

	<h1>{{ notes.service.name || notes.error }}</h1>

	<div ng-show="notes.service.name">

		<div>
			<button ng-repeat="n in [] | range:notes.service.evals" ng-click="notes.setActive(n)">EV {{ n + 1 }}</button>
		</div>

		<div>
			<subject ng-repeat="subject in notes.subjects.data" name="subject.name" label="subject.label" eval="notes.active"></subject>
		</div>

		<hr />

		<button ng-click="notes.save(notes.service)">Save</button>

		<div ng-controller="finalController as final">				
		{{ final.result }}
			<button ng-click="final.calculate()">Calculate</button>
		</div>
	</div>

</div>

<a ui-sref="courses">Back to courses</a>